.wrap.svelte-gnw1jq {
    display: flex;
    width: 100%;
    position: relative
}

.wrap.svelte-gnw1jq>label {
    flex-grow: 1
}

.wrap.svelte-gnw1jq>button {
    margin-top: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.wrap.svelte-gnw1jq>input {
    border-right: 0;
    min-width: var(--space-20);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
