.is-truncate.svelte-794yvu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inherit
}

em.svelte-794yvu,span.svelte-794yvu,h1.svelte-794yvu,h2.svelte-794yvu,h3.svelte-794yvu,h4.svelte-794yvu,h5.svelte-794yvu,h6.svelte-794yvu,p.svelte-794yvu {
    line-height: 1.3;
    display: inline-flex;
    align-items: center
}

em.numeric.svelte-794yvu,span.numeric.svelte-794yvu,h1.numeric.svelte-794yvu,h2.numeric.svelte-794yvu,h3.numeric.svelte-794yvu,h4.numeric.svelte-794yvu,h5.numeric.svelte-794yvu,h6.numeric.svelte-794yvu,p.numeric.svelte-794yvu {
    font-variant-numeric: tabular-nums
}

em.weight-normal.svelte-794yvu,span.weight-normal.svelte-794yvu,h1.weight-normal.svelte-794yvu,h2.weight-normal.svelte-794yvu,h3.weight-normal.svelte-794yvu,h4.weight-normal.svelte-794yvu,h5.weight-normal.svelte-794yvu,h6.weight-normal.svelte-794yvu,p.weight-normal.svelte-794yvu {
    font-weight: 400
}

em.weight-semibold.svelte-794yvu,span.weight-semibold.svelte-794yvu,h1.weight-semibold.svelte-794yvu,h2.weight-semibold.svelte-794yvu,h3.weight-semibold.svelte-794yvu,h4.weight-semibold.svelte-794yvu,h5.weight-semibold.svelte-794yvu,h6.weight-semibold.svelte-794yvu,p.weight-semibold.svelte-794yvu {
    font-weight: 600
}

em.weight-bold.svelte-794yvu,span.weight-bold.svelte-794yvu,h1.weight-bold.svelte-794yvu,h2.weight-bold.svelte-794yvu,h3.weight-bold.svelte-794yvu,h4.weight-bold.svelte-794yvu,h5.weight-bold.svelte-794yvu,h6.weight-bold.svelte-794yvu,p.weight-bold.svelte-794yvu {
    font-weight: 700
}

em.size-inherit.svelte-794yvu,span.size-inherit.svelte-794yvu,h1.size-inherit.svelte-794yvu,h2.size-inherit.svelte-794yvu,h3.size-inherit.svelte-794yvu,h4.size-inherit.svelte-794yvu,h5.size-inherit.svelte-794yvu,h6.size-inherit.svelte-794yvu,p.size-inherit.svelte-794yvu {
    font-size: var(--text-size-inherit)
}

em.size-smaller.svelte-794yvu,span.size-smaller.svelte-794yvu,h1.size-smaller.svelte-794yvu,h2.size-smaller.svelte-794yvu,h3.size-smaller.svelte-794yvu,h4.size-smaller.svelte-794yvu,h5.size-smaller.svelte-794yvu,h6.size-smaller.svelte-794yvu,p.size-smaller.svelte-794yvu {
    font-size: var(--text-size-xs)
}

em.size-small.svelte-794yvu,span.size-small.svelte-794yvu,h1.size-small.svelte-794yvu,h2.size-small.svelte-794yvu,h3.size-small.svelte-794yvu,h4.size-small.svelte-794yvu,h5.size-small.svelte-794yvu,h6.size-small.svelte-794yvu,p.size-small.svelte-794yvu {
    font-size: var(--text-size-sm)
}

em.size-medium.svelte-794yvu,span.size-medium.svelte-794yvu,h1.size-medium.svelte-794yvu,h2.size-medium.svelte-794yvu,h3.size-medium.svelte-794yvu,h4.size-medium.svelte-794yvu,h5.size-medium.svelte-794yvu,h6.size-medium.svelte-794yvu,p.size-medium.svelte-794yvu {
    font-size: var(--text-size-default)
}

em.size-large.svelte-794yvu,span.size-large.svelte-794yvu,h1.size-large.svelte-794yvu,h2.size-large.svelte-794yvu,h3.size-large.svelte-794yvu,h4.size-large.svelte-794yvu,h5.size-large.svelte-794yvu,h6.size-large.svelte-794yvu,p.size-large.svelte-794yvu {
    font-size: var(--text-size-base)
}

em.size-larger.svelte-794yvu,span.size-larger.svelte-794yvu,h1.size-larger.svelte-794yvu,h2.size-larger.svelte-794yvu,h3.size-larger.svelte-794yvu,h4.size-larger.svelte-794yvu,h5.size-larger.svelte-794yvu,h6.size-larger.svelte-794yvu,p.size-larger.svelte-794yvu {
    font-size: var(--text-size-md)
}

em.size-largest.svelte-794yvu,span.size-largest.svelte-794yvu,h1.size-largest.svelte-794yvu,h2.size-largest.svelte-794yvu,h3.size-largest.svelte-794yvu,h4.size-largest.svelte-794yvu,h5.size-largest.svelte-794yvu,h6.size-largest.svelte-794yvu,p.size-largest.svelte-794yvu {
    font-size: var(--text-size-lg)
}

em.size-largest-lg.svelte-794yvu,span.size-largest-lg.svelte-794yvu,h1.size-largest-lg.svelte-794yvu,h2.size-largest-lg.svelte-794yvu,h3.size-largest-lg.svelte-794yvu,h4.size-largest-lg.svelte-794yvu,h5.size-largest-lg.svelte-794yvu,h6.size-largest-lg.svelte-794yvu,p.size-largest-lg.svelte-794yvu {
    font-size: var(--text-size-xl)
}

em.size-largest-xl.svelte-794yvu,span.size-largest-xl.svelte-794yvu,h1.size-largest-xl.svelte-794yvu,h2.size-largest-xl.svelte-794yvu,h3.size-largest-xl.svelte-794yvu,h4.size-largest-xl.svelte-794yvu,h5.size-largest-xl.svelte-794yvu,h6.size-largest-xl.svelte-794yvu,p.size-largest-xl.svelte-794yvu {
    font-size: var(--text-size-2xl)
}

em.size-largest-xxl.svelte-794yvu,span.size-largest-xxl.svelte-794yvu,h1.size-largest-xxl.svelte-794yvu,h2.size-largest-xxl.svelte-794yvu,h3.size-largest-xxl.svelte-794yvu,h4.size-largest-xxl.svelte-794yvu,h5.size-largest-xxl.svelte-794yvu,h6.size-largest-xxl.svelte-794yvu,p.size-largest-xxl.svelte-794yvu {
    font-size: var(--text-size-3xl)
}

em.text-size-7xl.svelte-794yvu,span.text-size-7xl.svelte-794yvu,h1.text-size-7xl.svelte-794yvu,h2.text-size-7xl.svelte-794yvu,h3.text-size-7xl.svelte-794yvu,h4.text-size-7xl.svelte-794yvu,h5.text-size-7xl.svelte-794yvu,h6.text-size-7xl.svelte-794yvu,p.text-size-7xl.svelte-794yvu {
    font-size: var(--text-size-7xl)
}

em.text-size-7xl.responsive-type-scale.svelte-794yvu,span.text-size-7xl.responsive-type-scale.svelte-794yvu,h1.text-size-7xl.responsive-type-scale.svelte-794yvu,h2.text-size-7xl.responsive-type-scale.svelte-794yvu,h3.text-size-7xl.responsive-type-scale.svelte-794yvu,h4.text-size-7xl.responsive-type-scale.svelte-794yvu,h5.text-size-7xl.responsive-type-scale.svelte-794yvu,h6.text-size-7xl.responsive-type-scale.svelte-794yvu,p.text-size-7xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-7xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-7xl.responsive-type-scale.svelte-794yvu,span.text-size-7xl.responsive-type-scale.svelte-794yvu,h1.text-size-7xl.responsive-type-scale.svelte-794yvu,h2.text-size-7xl.responsive-type-scale.svelte-794yvu,h3.text-size-7xl.responsive-type-scale.svelte-794yvu,h4.text-size-7xl.responsive-type-scale.svelte-794yvu,h5.text-size-7xl.responsive-type-scale.svelte-794yvu,h6.text-size-7xl.responsive-type-scale.svelte-794yvu,p.text-size-7xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-7xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-7xl.responsive-type-scale.svelte-794yvu,span.text-size-7xl.responsive-type-scale.svelte-794yvu,h1.text-size-7xl.responsive-type-scale.svelte-794yvu,h2.text-size-7xl.responsive-type-scale.svelte-794yvu,h3.text-size-7xl.responsive-type-scale.svelte-794yvu,h4.text-size-7xl.responsive-type-scale.svelte-794yvu,h5.text-size-7xl.responsive-type-scale.svelte-794yvu,h6.text-size-7xl.responsive-type-scale.svelte-794yvu,p.text-size-7xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-7xl-responsive-large)
    }
}

em.text-size-6xl.svelte-794yvu,span.text-size-6xl.svelte-794yvu,h1.text-size-6xl.svelte-794yvu,h2.text-size-6xl.svelte-794yvu,h3.text-size-6xl.svelte-794yvu,h4.text-size-6xl.svelte-794yvu,h5.text-size-6xl.svelte-794yvu,h6.text-size-6xl.svelte-794yvu,p.text-size-6xl.svelte-794yvu {
    font-size: var(--text-size-6xl)
}

em.text-size-6xl.responsive-type-scale.svelte-794yvu,span.text-size-6xl.responsive-type-scale.svelte-794yvu,h1.text-size-6xl.responsive-type-scale.svelte-794yvu,h2.text-size-6xl.responsive-type-scale.svelte-794yvu,h3.text-size-6xl.responsive-type-scale.svelte-794yvu,h4.text-size-6xl.responsive-type-scale.svelte-794yvu,h5.text-size-6xl.responsive-type-scale.svelte-794yvu,h6.text-size-6xl.responsive-type-scale.svelte-794yvu,p.text-size-6xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-6xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-6xl.responsive-type-scale.svelte-794yvu,span.text-size-6xl.responsive-type-scale.svelte-794yvu,h1.text-size-6xl.responsive-type-scale.svelte-794yvu,h2.text-size-6xl.responsive-type-scale.svelte-794yvu,h3.text-size-6xl.responsive-type-scale.svelte-794yvu,h4.text-size-6xl.responsive-type-scale.svelte-794yvu,h5.text-size-6xl.responsive-type-scale.svelte-794yvu,h6.text-size-6xl.responsive-type-scale.svelte-794yvu,p.text-size-6xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-6xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-6xl.responsive-type-scale.svelte-794yvu,span.text-size-6xl.responsive-type-scale.svelte-794yvu,h1.text-size-6xl.responsive-type-scale.svelte-794yvu,h2.text-size-6xl.responsive-type-scale.svelte-794yvu,h3.text-size-6xl.responsive-type-scale.svelte-794yvu,h4.text-size-6xl.responsive-type-scale.svelte-794yvu,h5.text-size-6xl.responsive-type-scale.svelte-794yvu,h6.text-size-6xl.responsive-type-scale.svelte-794yvu,p.text-size-6xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-6xl-responsive-large)
    }
}

em.text-size-5xl.svelte-794yvu,span.text-size-5xl.svelte-794yvu,h1.text-size-5xl.svelte-794yvu,h2.text-size-5xl.svelte-794yvu,h3.text-size-5xl.svelte-794yvu,h4.text-size-5xl.svelte-794yvu,h5.text-size-5xl.svelte-794yvu,h6.text-size-5xl.svelte-794yvu,p.text-size-5xl.svelte-794yvu {
    font-size: var(--text-size-5xl)
}

em.text-size-5xl.responsive-type-scale.svelte-794yvu,span.text-size-5xl.responsive-type-scale.svelte-794yvu,h1.text-size-5xl.responsive-type-scale.svelte-794yvu,h2.text-size-5xl.responsive-type-scale.svelte-794yvu,h3.text-size-5xl.responsive-type-scale.svelte-794yvu,h4.text-size-5xl.responsive-type-scale.svelte-794yvu,h5.text-size-5xl.responsive-type-scale.svelte-794yvu,h6.text-size-5xl.responsive-type-scale.svelte-794yvu,p.text-size-5xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-5xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-5xl.responsive-type-scale.svelte-794yvu,span.text-size-5xl.responsive-type-scale.svelte-794yvu,h1.text-size-5xl.responsive-type-scale.svelte-794yvu,h2.text-size-5xl.responsive-type-scale.svelte-794yvu,h3.text-size-5xl.responsive-type-scale.svelte-794yvu,h4.text-size-5xl.responsive-type-scale.svelte-794yvu,h5.text-size-5xl.responsive-type-scale.svelte-794yvu,h6.text-size-5xl.responsive-type-scale.svelte-794yvu,p.text-size-5xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-5xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-5xl.responsive-type-scale.svelte-794yvu,span.text-size-5xl.responsive-type-scale.svelte-794yvu,h1.text-size-5xl.responsive-type-scale.svelte-794yvu,h2.text-size-5xl.responsive-type-scale.svelte-794yvu,h3.text-size-5xl.responsive-type-scale.svelte-794yvu,h4.text-size-5xl.responsive-type-scale.svelte-794yvu,h5.text-size-5xl.responsive-type-scale.svelte-794yvu,h6.text-size-5xl.responsive-type-scale.svelte-794yvu,p.text-size-5xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-5xl-responsive-large)
    }
}

em.text-size-4xl.svelte-794yvu,span.text-size-4xl.svelte-794yvu,h1.text-size-4xl.svelte-794yvu,h2.text-size-4xl.svelte-794yvu,h3.text-size-4xl.svelte-794yvu,h4.text-size-4xl.svelte-794yvu,h5.text-size-4xl.svelte-794yvu,h6.text-size-4xl.svelte-794yvu,p.text-size-4xl.svelte-794yvu {
    font-size: var(--text-size-4xl)
}

em.text-size-4xl.responsive-type-scale.svelte-794yvu,span.text-size-4xl.responsive-type-scale.svelte-794yvu,h1.text-size-4xl.responsive-type-scale.svelte-794yvu,h2.text-size-4xl.responsive-type-scale.svelte-794yvu,h3.text-size-4xl.responsive-type-scale.svelte-794yvu,h4.text-size-4xl.responsive-type-scale.svelte-794yvu,h5.text-size-4xl.responsive-type-scale.svelte-794yvu,h6.text-size-4xl.responsive-type-scale.svelte-794yvu,p.text-size-4xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-4xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-4xl.responsive-type-scale.svelte-794yvu,span.text-size-4xl.responsive-type-scale.svelte-794yvu,h1.text-size-4xl.responsive-type-scale.svelte-794yvu,h2.text-size-4xl.responsive-type-scale.svelte-794yvu,h3.text-size-4xl.responsive-type-scale.svelte-794yvu,h4.text-size-4xl.responsive-type-scale.svelte-794yvu,h5.text-size-4xl.responsive-type-scale.svelte-794yvu,h6.text-size-4xl.responsive-type-scale.svelte-794yvu,p.text-size-4xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-4xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-4xl.responsive-type-scale.svelte-794yvu,span.text-size-4xl.responsive-type-scale.svelte-794yvu,h1.text-size-4xl.responsive-type-scale.svelte-794yvu,h2.text-size-4xl.responsive-type-scale.svelte-794yvu,h3.text-size-4xl.responsive-type-scale.svelte-794yvu,h4.text-size-4xl.responsive-type-scale.svelte-794yvu,h5.text-size-4xl.responsive-type-scale.svelte-794yvu,h6.text-size-4xl.responsive-type-scale.svelte-794yvu,p.text-size-4xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-4xl-responsive-large)
    }
}

em.text-size-3xl.svelte-794yvu,span.text-size-3xl.svelte-794yvu,h1.text-size-3xl.svelte-794yvu,h2.text-size-3xl.svelte-794yvu,h3.text-size-3xl.svelte-794yvu,h4.text-size-3xl.svelte-794yvu,h5.text-size-3xl.svelte-794yvu,h6.text-size-3xl.svelte-794yvu,p.text-size-3xl.svelte-794yvu {
    font-size: var(--text-size-3xl)
}

em.text-size-3xl.responsive-type-scale.svelte-794yvu,span.text-size-3xl.responsive-type-scale.svelte-794yvu,h1.text-size-3xl.responsive-type-scale.svelte-794yvu,h2.text-size-3xl.responsive-type-scale.svelte-794yvu,h3.text-size-3xl.responsive-type-scale.svelte-794yvu,h4.text-size-3xl.responsive-type-scale.svelte-794yvu,h5.text-size-3xl.responsive-type-scale.svelte-794yvu,h6.text-size-3xl.responsive-type-scale.svelte-794yvu,p.text-size-3xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-3xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-3xl.responsive-type-scale.svelte-794yvu,span.text-size-3xl.responsive-type-scale.svelte-794yvu,h1.text-size-3xl.responsive-type-scale.svelte-794yvu,h2.text-size-3xl.responsive-type-scale.svelte-794yvu,h3.text-size-3xl.responsive-type-scale.svelte-794yvu,h4.text-size-3xl.responsive-type-scale.svelte-794yvu,h5.text-size-3xl.responsive-type-scale.svelte-794yvu,h6.text-size-3xl.responsive-type-scale.svelte-794yvu,p.text-size-3xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-3xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-3xl.responsive-type-scale.svelte-794yvu,span.text-size-3xl.responsive-type-scale.svelte-794yvu,h1.text-size-3xl.responsive-type-scale.svelte-794yvu,h2.text-size-3xl.responsive-type-scale.svelte-794yvu,h3.text-size-3xl.responsive-type-scale.svelte-794yvu,h4.text-size-3xl.responsive-type-scale.svelte-794yvu,h5.text-size-3xl.responsive-type-scale.svelte-794yvu,h6.text-size-3xl.responsive-type-scale.svelte-794yvu,p.text-size-3xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-3xl-responsive-large)
    }
}

em.text-size-2xl.svelte-794yvu,span.text-size-2xl.svelte-794yvu,h1.text-size-2xl.svelte-794yvu,h2.text-size-2xl.svelte-794yvu,h3.text-size-2xl.svelte-794yvu,h4.text-size-2xl.svelte-794yvu,h5.text-size-2xl.svelte-794yvu,h6.text-size-2xl.svelte-794yvu,p.text-size-2xl.svelte-794yvu {
    font-size: var(--text-size-2xl)
}

em.text-size-2xl.responsive-type-scale.svelte-794yvu,span.text-size-2xl.responsive-type-scale.svelte-794yvu,h1.text-size-2xl.responsive-type-scale.svelte-794yvu,h2.text-size-2xl.responsive-type-scale.svelte-794yvu,h3.text-size-2xl.responsive-type-scale.svelte-794yvu,h4.text-size-2xl.responsive-type-scale.svelte-794yvu,h5.text-size-2xl.responsive-type-scale.svelte-794yvu,h6.text-size-2xl.responsive-type-scale.svelte-794yvu,p.text-size-2xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-2xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-2xl.responsive-type-scale.svelte-794yvu,span.text-size-2xl.responsive-type-scale.svelte-794yvu,h1.text-size-2xl.responsive-type-scale.svelte-794yvu,h2.text-size-2xl.responsive-type-scale.svelte-794yvu,h3.text-size-2xl.responsive-type-scale.svelte-794yvu,h4.text-size-2xl.responsive-type-scale.svelte-794yvu,h5.text-size-2xl.responsive-type-scale.svelte-794yvu,h6.text-size-2xl.responsive-type-scale.svelte-794yvu,p.text-size-2xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-2xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-2xl.responsive-type-scale.svelte-794yvu,span.text-size-2xl.responsive-type-scale.svelte-794yvu,h1.text-size-2xl.responsive-type-scale.svelte-794yvu,h2.text-size-2xl.responsive-type-scale.svelte-794yvu,h3.text-size-2xl.responsive-type-scale.svelte-794yvu,h4.text-size-2xl.responsive-type-scale.svelte-794yvu,h5.text-size-2xl.responsive-type-scale.svelte-794yvu,h6.text-size-2xl.responsive-type-scale.svelte-794yvu,p.text-size-2xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-2xl-responsive-large)
    }
}

em.text-size-xl.svelte-794yvu,span.text-size-xl.svelte-794yvu,h1.text-size-xl.svelte-794yvu,h2.text-size-xl.svelte-794yvu,h3.text-size-xl.svelte-794yvu,h4.text-size-xl.svelte-794yvu,h5.text-size-xl.svelte-794yvu,h6.text-size-xl.svelte-794yvu,p.text-size-xl.svelte-794yvu {
    font-size: var(--text-size-xl)
}

em.text-size-xl.responsive-type-scale.svelte-794yvu,span.text-size-xl.responsive-type-scale.svelte-794yvu,h1.text-size-xl.responsive-type-scale.svelte-794yvu,h2.text-size-xl.responsive-type-scale.svelte-794yvu,h3.text-size-xl.responsive-type-scale.svelte-794yvu,h4.text-size-xl.responsive-type-scale.svelte-794yvu,h5.text-size-xl.responsive-type-scale.svelte-794yvu,h6.text-size-xl.responsive-type-scale.svelte-794yvu,p.text-size-xl.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-xl-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-xl.responsive-type-scale.svelte-794yvu,span.text-size-xl.responsive-type-scale.svelte-794yvu,h1.text-size-xl.responsive-type-scale.svelte-794yvu,h2.text-size-xl.responsive-type-scale.svelte-794yvu,h3.text-size-xl.responsive-type-scale.svelte-794yvu,h4.text-size-xl.responsive-type-scale.svelte-794yvu,h5.text-size-xl.responsive-type-scale.svelte-794yvu,h6.text-size-xl.responsive-type-scale.svelte-794yvu,p.text-size-xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-xl)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-xl.responsive-type-scale.svelte-794yvu,span.text-size-xl.responsive-type-scale.svelte-794yvu,h1.text-size-xl.responsive-type-scale.svelte-794yvu,h2.text-size-xl.responsive-type-scale.svelte-794yvu,h3.text-size-xl.responsive-type-scale.svelte-794yvu,h4.text-size-xl.responsive-type-scale.svelte-794yvu,h5.text-size-xl.responsive-type-scale.svelte-794yvu,h6.text-size-xl.responsive-type-scale.svelte-794yvu,p.text-size-xl.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-xl-responsive-large)
    }
}

em.text-size-lg.svelte-794yvu,span.text-size-lg.svelte-794yvu,h1.text-size-lg.svelte-794yvu,h2.text-size-lg.svelte-794yvu,h3.text-size-lg.svelte-794yvu,h4.text-size-lg.svelte-794yvu,h5.text-size-lg.svelte-794yvu,h6.text-size-lg.svelte-794yvu,p.text-size-lg.svelte-794yvu {
    font-size: var(--text-size-lg)
}

em.text-size-lg.responsive-type-scale.svelte-794yvu,span.text-size-lg.responsive-type-scale.svelte-794yvu,h1.text-size-lg.responsive-type-scale.svelte-794yvu,h2.text-size-lg.responsive-type-scale.svelte-794yvu,h3.text-size-lg.responsive-type-scale.svelte-794yvu,h4.text-size-lg.responsive-type-scale.svelte-794yvu,h5.text-size-lg.responsive-type-scale.svelte-794yvu,h6.text-size-lg.responsive-type-scale.svelte-794yvu,p.text-size-lg.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-lg-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-lg.responsive-type-scale.svelte-794yvu,span.text-size-lg.responsive-type-scale.svelte-794yvu,h1.text-size-lg.responsive-type-scale.svelte-794yvu,h2.text-size-lg.responsive-type-scale.svelte-794yvu,h3.text-size-lg.responsive-type-scale.svelte-794yvu,h4.text-size-lg.responsive-type-scale.svelte-794yvu,h5.text-size-lg.responsive-type-scale.svelte-794yvu,h6.text-size-lg.responsive-type-scale.svelte-794yvu,p.text-size-lg.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-lg)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-lg.responsive-type-scale.svelte-794yvu,span.text-size-lg.responsive-type-scale.svelte-794yvu,h1.text-size-lg.responsive-type-scale.svelte-794yvu,h2.text-size-lg.responsive-type-scale.svelte-794yvu,h3.text-size-lg.responsive-type-scale.svelte-794yvu,h4.text-size-lg.responsive-type-scale.svelte-794yvu,h5.text-size-lg.responsive-type-scale.svelte-794yvu,h6.text-size-lg.responsive-type-scale.svelte-794yvu,p.text-size-lg.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-lg-responsive-large)
    }
}

em.text-size-md.svelte-794yvu,span.text-size-md.svelte-794yvu,h1.text-size-md.svelte-794yvu,h2.text-size-md.svelte-794yvu,h3.text-size-md.svelte-794yvu,h4.text-size-md.svelte-794yvu,h5.text-size-md.svelte-794yvu,h6.text-size-md.svelte-794yvu,p.text-size-md.svelte-794yvu {
    font-size: var(--text-size-md)
}

em.text-size-md.responsive-type-scale.svelte-794yvu,span.text-size-md.responsive-type-scale.svelte-794yvu,h1.text-size-md.responsive-type-scale.svelte-794yvu,h2.text-size-md.responsive-type-scale.svelte-794yvu,h3.text-size-md.responsive-type-scale.svelte-794yvu,h4.text-size-md.responsive-type-scale.svelte-794yvu,h5.text-size-md.responsive-type-scale.svelte-794yvu,h6.text-size-md.responsive-type-scale.svelte-794yvu,p.text-size-md.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-md-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-md.responsive-type-scale.svelte-794yvu,span.text-size-md.responsive-type-scale.svelte-794yvu,h1.text-size-md.responsive-type-scale.svelte-794yvu,h2.text-size-md.responsive-type-scale.svelte-794yvu,h3.text-size-md.responsive-type-scale.svelte-794yvu,h4.text-size-md.responsive-type-scale.svelte-794yvu,h5.text-size-md.responsive-type-scale.svelte-794yvu,h6.text-size-md.responsive-type-scale.svelte-794yvu,p.text-size-md.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-md)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-md.responsive-type-scale.svelte-794yvu,span.text-size-md.responsive-type-scale.svelte-794yvu,h1.text-size-md.responsive-type-scale.svelte-794yvu,h2.text-size-md.responsive-type-scale.svelte-794yvu,h3.text-size-md.responsive-type-scale.svelte-794yvu,h4.text-size-md.responsive-type-scale.svelte-794yvu,h5.text-size-md.responsive-type-scale.svelte-794yvu,h6.text-size-md.responsive-type-scale.svelte-794yvu,p.text-size-md.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-md-responsive-large)
    }
}

em.text-size-base.svelte-794yvu,span.text-size-base.svelte-794yvu,h1.text-size-base.svelte-794yvu,h2.text-size-base.svelte-794yvu,h3.text-size-base.svelte-794yvu,h4.text-size-base.svelte-794yvu,h5.text-size-base.svelte-794yvu,h6.text-size-base.svelte-794yvu,p.text-size-base.svelte-794yvu {
    font-size: var(--text-size-base)
}

em.text-size-base.responsive-type-scale.svelte-794yvu,span.text-size-base.responsive-type-scale.svelte-794yvu,h1.text-size-base.responsive-type-scale.svelte-794yvu,h2.text-size-base.responsive-type-scale.svelte-794yvu,h3.text-size-base.responsive-type-scale.svelte-794yvu,h4.text-size-base.responsive-type-scale.svelte-794yvu,h5.text-size-base.responsive-type-scale.svelte-794yvu,h6.text-size-base.responsive-type-scale.svelte-794yvu,p.text-size-base.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-base-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-base.responsive-type-scale.svelte-794yvu,span.text-size-base.responsive-type-scale.svelte-794yvu,h1.text-size-base.responsive-type-scale.svelte-794yvu,h2.text-size-base.responsive-type-scale.svelte-794yvu,h3.text-size-base.responsive-type-scale.svelte-794yvu,h4.text-size-base.responsive-type-scale.svelte-794yvu,h5.text-size-base.responsive-type-scale.svelte-794yvu,h6.text-size-base.responsive-type-scale.svelte-794yvu,p.text-size-base.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-base)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-base.responsive-type-scale.svelte-794yvu,span.text-size-base.responsive-type-scale.svelte-794yvu,h1.text-size-base.responsive-type-scale.svelte-794yvu,h2.text-size-base.responsive-type-scale.svelte-794yvu,h3.text-size-base.responsive-type-scale.svelte-794yvu,h4.text-size-base.responsive-type-scale.svelte-794yvu,h5.text-size-base.responsive-type-scale.svelte-794yvu,h6.text-size-base.responsive-type-scale.svelte-794yvu,p.text-size-base.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-base-responsive-large)
    }
}

em.text-size-default.svelte-794yvu,span.text-size-default.svelte-794yvu,h1.text-size-default.svelte-794yvu,h2.text-size-default.svelte-794yvu,h3.text-size-default.svelte-794yvu,h4.text-size-default.svelte-794yvu,h5.text-size-default.svelte-794yvu,h6.text-size-default.svelte-794yvu,p.text-size-default.svelte-794yvu {
    font-size: var(--text-size-default)
}

em.text-size-default.responsive-type-scale.svelte-794yvu,span.text-size-default.responsive-type-scale.svelte-794yvu,h1.text-size-default.responsive-type-scale.svelte-794yvu,h2.text-size-default.responsive-type-scale.svelte-794yvu,h3.text-size-default.responsive-type-scale.svelte-794yvu,h4.text-size-default.responsive-type-scale.svelte-794yvu,h5.text-size-default.responsive-type-scale.svelte-794yvu,h6.text-size-default.responsive-type-scale.svelte-794yvu,p.text-size-default.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-default-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-default.responsive-type-scale.svelte-794yvu,span.text-size-default.responsive-type-scale.svelte-794yvu,h1.text-size-default.responsive-type-scale.svelte-794yvu,h2.text-size-default.responsive-type-scale.svelte-794yvu,h3.text-size-default.responsive-type-scale.svelte-794yvu,h4.text-size-default.responsive-type-scale.svelte-794yvu,h5.text-size-default.responsive-type-scale.svelte-794yvu,h6.text-size-default.responsive-type-scale.svelte-794yvu,p.text-size-default.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-default)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-default.responsive-type-scale.svelte-794yvu,span.text-size-default.responsive-type-scale.svelte-794yvu,h1.text-size-default.responsive-type-scale.svelte-794yvu,h2.text-size-default.responsive-type-scale.svelte-794yvu,h3.text-size-default.responsive-type-scale.svelte-794yvu,h4.text-size-default.responsive-type-scale.svelte-794yvu,h5.text-size-default.responsive-type-scale.svelte-794yvu,h6.text-size-default.responsive-type-scale.svelte-794yvu,p.text-size-default.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-default-responsive-large)
    }
}

em.text-size-sm.svelte-794yvu,span.text-size-sm.svelte-794yvu,h1.text-size-sm.svelte-794yvu,h2.text-size-sm.svelte-794yvu,h3.text-size-sm.svelte-794yvu,h4.text-size-sm.svelte-794yvu,h5.text-size-sm.svelte-794yvu,h6.text-size-sm.svelte-794yvu,p.text-size-sm.svelte-794yvu {
    font-size: var(--text-size-sm)
}

em.text-size-sm.responsive-type-scale.svelte-794yvu,span.text-size-sm.responsive-type-scale.svelte-794yvu,h1.text-size-sm.responsive-type-scale.svelte-794yvu,h2.text-size-sm.responsive-type-scale.svelte-794yvu,h3.text-size-sm.responsive-type-scale.svelte-794yvu,h4.text-size-sm.responsive-type-scale.svelte-794yvu,h5.text-size-sm.responsive-type-scale.svelte-794yvu,h6.text-size-sm.responsive-type-scale.svelte-794yvu,p.text-size-sm.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-sm-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-sm.responsive-type-scale.svelte-794yvu,span.text-size-sm.responsive-type-scale.svelte-794yvu,h1.text-size-sm.responsive-type-scale.svelte-794yvu,h2.text-size-sm.responsive-type-scale.svelte-794yvu,h3.text-size-sm.responsive-type-scale.svelte-794yvu,h4.text-size-sm.responsive-type-scale.svelte-794yvu,h5.text-size-sm.responsive-type-scale.svelte-794yvu,h6.text-size-sm.responsive-type-scale.svelte-794yvu,p.text-size-sm.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-sm)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-sm.responsive-type-scale.svelte-794yvu,span.text-size-sm.responsive-type-scale.svelte-794yvu,h1.text-size-sm.responsive-type-scale.svelte-794yvu,h2.text-size-sm.responsive-type-scale.svelte-794yvu,h3.text-size-sm.responsive-type-scale.svelte-794yvu,h4.text-size-sm.responsive-type-scale.svelte-794yvu,h5.text-size-sm.responsive-type-scale.svelte-794yvu,h6.text-size-sm.responsive-type-scale.svelte-794yvu,p.text-size-sm.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-sm-responsive-large)
    }
}

em.text-size-xs.svelte-794yvu,span.text-size-xs.svelte-794yvu,h1.text-size-xs.svelte-794yvu,h2.text-size-xs.svelte-794yvu,h3.text-size-xs.svelte-794yvu,h4.text-size-xs.svelte-794yvu,h5.text-size-xs.svelte-794yvu,h6.text-size-xs.svelte-794yvu,p.text-size-xs.svelte-794yvu {
    font-size: var(--text-size-xs)
}

em.text-size-xs.responsive-type-scale.svelte-794yvu,span.text-size-xs.responsive-type-scale.svelte-794yvu,h1.text-size-xs.responsive-type-scale.svelte-794yvu,h2.text-size-xs.responsive-type-scale.svelte-794yvu,h3.text-size-xs.responsive-type-scale.svelte-794yvu,h4.text-size-xs.responsive-type-scale.svelte-794yvu,h5.text-size-xs.responsive-type-scale.svelte-794yvu,h6.text-size-xs.responsive-type-scale.svelte-794yvu,p.text-size-xs.responsive-type-scale.svelte-794yvu {
    font-size: var(--text-size-xs-responsive-small)
}

@media (min-width: 80rem) {
    em.text-size-xs.responsive-type-scale.svelte-794yvu,span.text-size-xs.responsive-type-scale.svelte-794yvu,h1.text-size-xs.responsive-type-scale.svelte-794yvu,h2.text-size-xs.responsive-type-scale.svelte-794yvu,h3.text-size-xs.responsive-type-scale.svelte-794yvu,h4.text-size-xs.responsive-type-scale.svelte-794yvu,h5.text-size-xs.responsive-type-scale.svelte-794yvu,h6.text-size-xs.responsive-type-scale.svelte-794yvu,p.text-size-xs.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-xs)
    }
}

@media (min-width: 118.75rem) {
    em.text-size-xs.responsive-type-scale.svelte-794yvu,span.text-size-xs.responsive-type-scale.svelte-794yvu,h1.text-size-xs.responsive-type-scale.svelte-794yvu,h2.text-size-xs.responsive-type-scale.svelte-794yvu,h3.text-size-xs.responsive-type-scale.svelte-794yvu,h4.text-size-xs.responsive-type-scale.svelte-794yvu,h5.text-size-xs.responsive-type-scale.svelte-794yvu,h6.text-size-xs.responsive-type-scale.svelte-794yvu,p.text-size-xs.responsive-type-scale.svelte-794yvu {
        font-size:var(--text-size-xs-responsive-large)
    }
}

em.align-left.svelte-794yvu,span.align-left.svelte-794yvu,h1.align-left.svelte-794yvu,h2.align-left.svelte-794yvu,h3.align-left.svelte-794yvu,h4.align-left.svelte-794yvu,h5.align-left.svelte-794yvu,h6.align-left.svelte-794yvu,p.align-left.svelte-794yvu {
    text-align: left;
    justify-content: flex-start
}

em.align-center.svelte-794yvu,span.align-center.svelte-794yvu,h1.align-center.svelte-794yvu,h2.align-center.svelte-794yvu,h3.align-center.svelte-794yvu,h4.align-center.svelte-794yvu,h5.align-center.svelte-794yvu,h6.align-center.svelte-794yvu,p.align-center.svelte-794yvu {
    text-align: center;
    justify-content: center
}

em.align-right.svelte-794yvu,span.align-right.svelte-794yvu,h1.align-right.svelte-794yvu,h2.align-right.svelte-794yvu,h3.align-right.svelte-794yvu,h4.align-right.svelte-794yvu,h5.align-right.svelte-794yvu,h6.align-right.svelte-794yvu,p.align-right.svelte-794yvu {
    text-align: right;
    justify-content: flex-end
}

em.is-inline.svelte-794yvu,span.is-inline.svelte-794yvu,h1.is-inline.svelte-794yvu,h2.is-inline.svelte-794yvu,h3.is-inline.svelte-794yvu,h4.is-inline.svelte-794yvu,h5.is-inline.svelte-794yvu,h6.is-inline.svelte-794yvu,p.is-inline.svelte-794yvu {
    display: inline
}

em.line-height-none.svelte-794yvu,span.line-height-none.svelte-794yvu,h1.line-height-none.svelte-794yvu,h2.line-height-none.svelte-794yvu,h3.line-height-none.svelte-794yvu,h4.line-height-none.svelte-794yvu,h5.line-height-none.svelte-794yvu,h6.line-height-none.svelte-794yvu,p.line-height-none.svelte-794yvu {
    line-height: 1
}

em.line-height-normal.svelte-794yvu,span.line-height-normal.svelte-794yvu,h1.line-height-normal.svelte-794yvu,h2.line-height-normal.svelte-794yvu,h3.line-height-normal.svelte-794yvu,h4.line-height-normal.svelte-794yvu,h5.line-height-normal.svelte-794yvu,h6.line-height-normal.svelte-794yvu,p.line-height-normal.svelte-794yvu {
    line-height: 1.3
}

em.line-height-150pct.svelte-794yvu,span.line-height-150pct.svelte-794yvu,h1.line-height-150pct.svelte-794yvu,h2.line-height-150pct.svelte-794yvu,h3.line-height-150pct.svelte-794yvu,h4.line-height-150pct.svelte-794yvu,h5.line-height-150pct.svelte-794yvu,h6.line-height-150pct.svelte-794yvu,p.line-height-150pct.svelte-794yvu {
    line-height: 150%
}

em.line-height-120pct.svelte-794yvu,span.line-height-120pct.svelte-794yvu,h1.line-height-120pct.svelte-794yvu,h2.line-height-120pct.svelte-794yvu,h3.line-height-120pct.svelte-794yvu,h4.line-height-120pct.svelte-794yvu,h5.line-height-120pct.svelte-794yvu,h6.line-height-120pct.svelte-794yvu,p.line-height-120pct.svelte-794yvu {
    line-height: 120%
}

em.line-height-responsive.svelte-794yvu,span.line-height-responsive.svelte-794yvu,h1.line-height-responsive.svelte-794yvu,h2.line-height-responsive.svelte-794yvu,h3.line-height-responsive.svelte-794yvu,h4.line-height-responsive.svelte-794yvu,h5.line-height-responsive.svelte-794yvu,h6.line-height-responsive.svelte-794yvu,p.line-height-responsive.svelte-794yvu {
    line-height: 132%
}

em.line-height-default.svelte-794yvu,span.line-height-default.svelte-794yvu,h1.line-height-default.svelte-794yvu,h2.line-height-default.svelte-794yvu,h3.line-height-default.svelte-794yvu,h4.line-height-default.svelte-794yvu,h5.line-height-default.svelte-794yvu,h6.line-height-default.svelte-794yvu,p.line-height-default.svelte-794yvu,em.line-height-base.svelte-794yvu,span.line-height-base.svelte-794yvu,h1.line-height-base.svelte-794yvu,h2.line-height-base.svelte-794yvu,h3.line-height-base.svelte-794yvu,h4.line-height-base.svelte-794yvu,h5.line-height-base.svelte-794yvu,h6.line-height-base.svelte-794yvu,p.line-height-base.svelte-794yvu {
    line-height: 1.5
}

em.variant-action.svelte-794yvu,span.variant-action.svelte-794yvu,h1.variant-action.svelte-794yvu,h2.variant-action.svelte-794yvu,h3.variant-action.svelte-794yvu,h4.variant-action.svelte-794yvu,h5.variant-action.svelte-794yvu,h6.variant-action.svelte-794yvu,p.variant-action.svelte-794yvu {
    color: var(--blue-400)
}

em.variant-action.svelte-794yvu .svg-icon,span.variant-action.svelte-794yvu .svg-icon,h1.variant-action.svelte-794yvu .svg-icon,h2.variant-action.svelte-794yvu .svg-icon,h3.variant-action.svelte-794yvu .svg-icon,h4.variant-action.svelte-794yvu .svg-icon,h5.variant-action.svelte-794yvu .svg-icon,h6.variant-action.svelte-794yvu .svg-icon,p.variant-action.svelte-794yvu .svg-icon {
    color: var(--white)
}

em.variant-success.svelte-794yvu,span.variant-success.svelte-794yvu,h1.variant-success.svelte-794yvu,h2.variant-success.svelte-794yvu,h3.variant-success.svelte-794yvu,h4.variant-success.svelte-794yvu,h5.variant-success.svelte-794yvu,h6.variant-success.svelte-794yvu,p.variant-success.svelte-794yvu {
    color: var(--green-500)
}

em.variant-success.svelte-794yvu .svg-icon,span.variant-success.svelte-794yvu .svg-icon,h1.variant-success.svelte-794yvu .svg-icon,h2.variant-success.svelte-794yvu .svg-icon,h3.variant-success.svelte-794yvu .svg-icon,h4.variant-success.svelte-794yvu .svg-icon,h5.variant-success.svelte-794yvu .svg-icon,h6.variant-success.svelte-794yvu .svg-icon,p.variant-success.svelte-794yvu .svg-icon {
    color: var(--green-900)
}

em.variant-subtle.svelte-794yvu,span.variant-subtle.svelte-794yvu,h1.variant-subtle.svelte-794yvu,h2.variant-subtle.svelte-794yvu,h3.variant-subtle.svelte-794yvu,h4.variant-subtle.svelte-794yvu,h5.variant-subtle.svelte-794yvu,h6.variant-subtle.svelte-794yvu,p.variant-subtle.svelte-794yvu {
    color: var(--grey-200)
}

em.variant-subtle.svelte-794yvu .svg-icon,span.variant-subtle.svelte-794yvu .svg-icon,h1.variant-subtle.svelte-794yvu .svg-icon,h2.variant-subtle.svelte-794yvu .svg-icon,h3.variant-subtle.svelte-794yvu .svg-icon,h4.variant-subtle.svelte-794yvu .svg-icon,h5.variant-subtle.svelte-794yvu .svg-icon,h6.variant-subtle.svelte-794yvu .svg-icon,p.variant-subtle.svelte-794yvu .svg-icon {
    color: var(--grey-300)
}

em.variant-warn.svelte-794yvu,span.variant-warn.svelte-794yvu,h1.variant-warn.svelte-794yvu,h2.variant-warn.svelte-794yvu,h3.variant-warn.svelte-794yvu,h4.variant-warn.svelte-794yvu,h5.variant-warn.svelte-794yvu,h6.variant-warn.svelte-794yvu,p.variant-warn.svelte-794yvu {
    color: var(--yellow-500)
}

em.variant-warn.svelte-794yvu .svg-icon,span.variant-warn.svelte-794yvu .svg-icon,h1.variant-warn.svelte-794yvu .svg-icon,h2.variant-warn.svelte-794yvu .svg-icon,h3.variant-warn.svelte-794yvu .svg-icon,h4.variant-warn.svelte-794yvu .svg-icon,h5.variant-warn.svelte-794yvu .svg-icon,h6.variant-warn.svelte-794yvu .svg-icon,p.variant-warn.svelte-794yvu .svg-icon {
    color: var(--yellow-300)
}

em.variant-highlighted.svelte-794yvu,span.variant-highlighted.svelte-794yvu,h1.variant-highlighted.svelte-794yvu,h2.variant-highlighted.svelte-794yvu,h3.variant-highlighted.svelte-794yvu,h4.variant-highlighted.svelte-794yvu,h5.variant-highlighted.svelte-794yvu,h6.variant-highlighted.svelte-794yvu,p.variant-highlighted.svelte-794yvu {
    color: var(--white)
}

em.variant-highlighted.svelte-794yvu .svg-icon,span.variant-highlighted.svelte-794yvu .svg-icon,h1.variant-highlighted.svelte-794yvu .svg-icon,h2.variant-highlighted.svelte-794yvu .svg-icon,h3.variant-highlighted.svelte-794yvu .svg-icon,h4.variant-highlighted.svelte-794yvu .svg-icon,h5.variant-highlighted.svelte-794yvu .svg-icon,h6.variant-highlighted.svelte-794yvu .svg-icon,p.variant-highlighted.svelte-794yvu .svg-icon {
    color: var(--grey-200)
}

em.variant-danger.svelte-794yvu,span.variant-danger.svelte-794yvu,h1.variant-danger.svelte-794yvu,h2.variant-danger.svelte-794yvu,h3.variant-danger.svelte-794yvu,h4.variant-danger.svelte-794yvu,h5.variant-danger.svelte-794yvu,h6.variant-danger.svelte-794yvu,p.variant-danger.svelte-794yvu,em.variant-danger.svelte-794yvu .svg-icon,span.variant-danger.svelte-794yvu .svg-icon,h1.variant-danger.svelte-794yvu .svg-icon,h2.variant-danger.svelte-794yvu .svg-icon,h3.variant-danger.svelte-794yvu .svg-icon,h4.variant-danger.svelte-794yvu .svg-icon,h5.variant-danger.svelte-794yvu .svg-icon,h6.variant-danger.svelte-794yvu .svg-icon,p.variant-danger.svelte-794yvu .svg-icon {
    color: var(--red-400)
}

em.variant-dropdown.svelte-794yvu,span.variant-dropdown.svelte-794yvu,h1.variant-dropdown.svelte-794yvu,h2.variant-dropdown.svelte-794yvu,h3.variant-dropdown.svelte-794yvu,h4.variant-dropdown.svelte-794yvu,h5.variant-dropdown.svelte-794yvu,h6.variant-dropdown.svelte-794yvu,p.variant-dropdown.svelte-794yvu {
    color: var(--grey-400)
}

em.variant-dropdown.svelte-794yvu .svg-icon,span.variant-dropdown.svelte-794yvu .svg-icon,h1.variant-dropdown.svelte-794yvu .svg-icon,h2.variant-dropdown.svelte-794yvu .svg-icon,h3.variant-dropdown.svelte-794yvu .svg-icon,h4.variant-dropdown.svelte-794yvu .svg-icon,h5.variant-dropdown.svelte-794yvu .svg-icon,h6.variant-dropdown.svelte-794yvu .svg-icon,p.variant-dropdown.svelte-794yvu .svg-icon {
    color: var(--grey-200)
}

em.variant-negative.svelte-794yvu,span.variant-negative.svelte-794yvu,h1.variant-negative.svelte-794yvu,h2.variant-negative.svelte-794yvu,h3.variant-negative.svelte-794yvu,h4.variant-negative.svelte-794yvu,h5.variant-negative.svelte-794yvu,h6.variant-negative.svelte-794yvu,p.variant-negative.svelte-794yvu,em.variant-negative.svelte-794yvu .svg-icon,span.variant-negative.svelte-794yvu .svg-icon,h1.variant-negative.svelte-794yvu .svg-icon,h2.variant-negative.svelte-794yvu .svg-icon,h3.variant-negative.svelte-794yvu .svg-icon,h4.variant-negative.svelte-794yvu .svg-icon,h5.variant-negative.svelte-794yvu .svg-icon,h6.variant-negative.svelte-794yvu .svg-icon,p.variant-negative.svelte-794yvu .svg-icon {
    color: var(--red-400)
}

em.variant-contrast.svelte-794yvu,span.variant-contrast.svelte-794yvu,h1.variant-contrast.svelte-794yvu,h2.variant-contrast.svelte-794yvu,h3.variant-contrast.svelte-794yvu,h4.variant-contrast.svelte-794yvu,h5.variant-contrast.svelte-794yvu,h6.variant-contrast.svelte-794yvu,p.variant-contrast.svelte-794yvu {
    color: var(--grey-800)
}

em.variant-contrast.svelte-794yvu .svg-icon,span.variant-contrast.svelte-794yvu .svg-icon,h1.variant-contrast.svelte-794yvu .svg-icon,h2.variant-contrast.svelte-794yvu .svg-icon,h3.variant-contrast.svelte-794yvu .svg-icon,h4.variant-contrast.svelte-794yvu .svg-icon,h5.variant-contrast.svelte-794yvu .svg-icon,h6.variant-contrast.svelte-794yvu .svg-icon,p.variant-contrast.svelte-794yvu .svg-icon {
    color: var(--grey-700)
}

em.variant-inherit.svelte-794yvu,span.variant-inherit.svelte-794yvu,h1.variant-inherit.svelte-794yvu,h2.variant-inherit.svelte-794yvu,h3.variant-inherit.svelte-794yvu,h4.variant-inherit.svelte-794yvu,h5.variant-inherit.svelte-794yvu,h6.variant-inherit.svelte-794yvu,p.variant-inherit.svelte-794yvu,em.variant-inherit.svelte-794yvu .svg-icon,span.variant-inherit.svelte-794yvu .svg-icon,h1.variant-inherit.svelte-794yvu .svg-icon,h2.variant-inherit.svelte-794yvu .svg-icon,h3.variant-inherit.svelte-794yvu .svg-icon,h4.variant-inherit.svelte-794yvu .svg-icon,h5.variant-inherit.svelte-794yvu .svg-icon,h6.variant-inherit.svelte-794yvu .svg-icon,p.variant-inherit.svelte-794yvu .svg-icon {
    color: inherit
}

em.with-icon-space.svelte-794yvu .svg-icon,span.with-icon-space.svelte-794yvu .svg-icon,h1.with-icon-space.svelte-794yvu .svg-icon,h2.with-icon-space.svelte-794yvu .svg-icon,h3.with-icon-space.svelte-794yvu .svg-icon,h4.with-icon-space.svelte-794yvu .svg-icon,h5.with-icon-space.svelte-794yvu .svg-icon,h6.with-icon-space.svelte-794yvu .svg-icon,p.with-icon-space.svelte-794yvu .svg-icon {
    margin-right: var(--space-2)
}

p.svelte-794yvu {
    display: block
}
