.input-error.svelte-wj6pzk {
    padding: var(--space-2) 0 var(--space-1);
    font-size: var(--text-size-sm);
    color: var(--red-300);
    display: flex;
    align-items: center
}

.input-error.svelte-wj6pzk>*+* {
    margin-left: var(--space-2)
}

.input-error.svelte-wj6pzk>.svg-icon {
    font-size: var(--font-size-lg)
}

.hint.svelte-yipzft {
    padding: var(--space-2) 0 var(--space-1);
    font-size: var(--text-size-sm)
}

.input-wrap.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    box-shadow: var(--input-box-shadow);
    border-radius: var(--input-border-radius)
}

.input-wrap.svelte-1w7n5sk .before-icon.svelte-1w7n5sk:not(:empty)~input.svelte-1w7n5sk {
    padding-left: var(--spacingEm-2-5)
}

.input-wrap.svelte-1w7n5sk .after-icon.svelte-1w7n5sk:not(:empty)~input.svelte-1w7n5sk {
    padding-right: var(--spacingEm-2)
}

.input-wrap.svelte-1w7n5sk:has(>.input-button-wrap>*)>.input-content.svelte-1w7n5sk>input.svelte-1w7n5sk {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-wrap.no-shadow.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    box-shadow: none
}

.input-wrap.hidden-input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    margin-top: var(--space-1)
}

.after-icon.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk,.before-icon.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--label-color);
    z-index: 2
}

.no-padding.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    padding: 0
}

.label-left-wrapper.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    display: inline-flex;
    width: 100%
}

.asterisk-wrapper.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    margin-left: var(--space-1)
}

.after-icon.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    cursor: text;
    right: var(--spacingEm-0-75)
}

.before-icon.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    cursor: text;
    left: var(--spacingEm-0-75)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    width: 100%;
    color: var(--input-color);
    background: var(--input-background);
    box-shadow: var(--input-box-shadow);
    border: var(--input-border-width) solid var(--input-border);
    border-radius: var(--input-border-radius);
    letter-spacing: var(--input-letter-spacing);
    font-weight: var(--input-font-weight);
    transition: all var(--input-transition);
    outline: 0;
    margin: 0;
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: var(--text-size-default);
    box-shadow: none
}

.input.no-shadow.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    box-shadow: none
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-calendar-picker-indicator {
    filter: invert(.8)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:focus,.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:hover {
    color: var(--input-hover-color);
    border-color: var(--input-hover-border)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:disabled {
    cursor: not-allowed;
    opacity: .5
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-input-placeholder {
    color: var(--input-placeholder)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-moz-placeholder {
    color: var(--input-placeholder)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:-ms-input-placeholder {
    color: var(--input-placeholder)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:-moz-placeholder {
    color: var(--input-placeholder)
}

.input.spacing-compact.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    padding: .3em var(--spacingEm-0-5)
}

.input.spacing-expanded.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    padding: var(--spacingEm-0-5)
}

.input.with-buttons.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input[type=file].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    cursor: pointer
}

.input.invalid.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    border-color: var(--red-400)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-file-upload-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    font-weight: 600;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    gap: var(--space-2);
    justify-content: flex-start;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--transition-fast),color var(--transition-fast);
    flex-shrink: 0;
    color: var(--white);
    background: var(--grey-700);
    box-shadow: var(--shadow-button-sm);
    box-shadow: none;
    margin-right: var(--spacingEm-0-25)
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-file-upload-button:focus-visible {
    outline-offset: .125rem;
    outline: .125rem solid
}

.input::-webkit-file-upload-button .min-width.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    min-width: 12ch;
    max-width: 100%
}

@media (hover: hover) {
    .input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-file-upload-button:hover:not(.disabled) {
        color:var(--white);
        background: var(--grey-900)
    }
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-file-upload-button:active {
    box-shadow: none;
    color: var(--white);
    background: var(--grey-900)
}

.input::-webkit-file-upload-button .active.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk,.input::-webkit-file-upload-button .active.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:hover:not(.disabled) {
    color: var(--white);
    background: var(--grey-900)
}

.input.svelte-1w7n5sk::-webkit-file-upload-button:not(.icon-only) .svg-icon {
    transition: color var(--transition-fast);
    color: var(--grey-200)
}

.input.svelte-1w7n5sk::-webkit-file-upload-button:not(.icon-only):hover:not(.disabled):not(.active) .svg-icon {
    color: var(--white)
}

.input::-webkit-file-upload-button:not(.icon-only) .active.svelte-1w7n5sk .svg-icon {
    color: var(--white)
}

.input::-webkit-file-upload-button .icon-only.svelte-1w7n5sk .svg-icon {
    transition: color var(--transition-fast);
    color: var(--white)
}

.input::-webkit-file-upload-button .icon-only.svelte-1w7n5sk:hover:not(.disabled):not(.active) .svg-icon {
    color: var(--white)
}

.input::-webkit-file-upload-button .icon-only.active.svelte-1w7n5sk .svg-icon {
    color: var(--white)
}

.input::-webkit-file-upload-button [disabled].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk,.input::-webkit-file-upload-button .disabled.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    cursor: not-allowed;
    opacity: .5
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk::-webkit-file-upload-button:focus-visible {
    outline-color: var(--white)
}

.input[readonly].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    background: var(--input-border)
}

.input[readonly].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:focus,.input[readonly].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:hover {
    border-color: var(--input-border)
}

.input[type=button].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk,.input[type=submit].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer
}

.input[type=button].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    text-align: left
}

.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:focus,.input.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk:hover {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial
}

.input[type=password].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    padding-right: var(--space-12)
}

.input[type=date].svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    box-sizing: border-box;
    padding: var(--spacingEm-0-5);
    min-height: 39px
}

.input-content.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex
}

.view-password.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%
}

.view-password.svelte-1w7n5sk button.svelte-1w7n5sk.svelte-1w7n5sk {
    font-size: var(--text-size-md);
    padding: var(--space-2) var(--space-4);
    display: flex;
    align-items: center
}

.view-password.svelte-1w7n5sk button.svelte-1w7n5sk.svelte-1w7n5sk:hover {
    color: var(--white)
}

.input-error.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    padding: var(--space-2) 0 var(--space-1);
    font-size: var(--text-size-sm);
    color: var(--red-300);
    display: flex;
    align-items: center
}

.input-error.svelte-1w7n5sk>*+* {
    margin-left: var(--space-2)
}

.input-error.svelte-1w7n5sk>.svg-icon {
    font-size: var(--font-size-lg)
}

.input-button-wrap.svelte-1w7n5sk.svelte-1w7n5sk.svelte-1w7n5sk {
    display: inline-flex
}

.input-button-wrap.svelte-1w7n5sk button {
    white-space: nowrap
}

.input-button-wrap.svelte-1w7n5sk button+button {
    position: relative
}

.input-button-wrap.svelte-1w7n5sk button+button:after {
    content: "";
    position: absolute;
    width: 2px;
    background: var(--input-button-divider);
    left: -1px;
    top: 25%;
    bottom: 25%
}

.input-button-wrap.svelte-1w7n5sk button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.input-button-wrap.svelte-1w7n5sk button:not(:last-child) {
    border-radius: 0
}
