.footer.svelte-en455l {
    width: 100%;
    background: var(--grey-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: var(--spacing-2) var(--spacing-4)
}

.footer.svelte-en455l>* {
    width: 100%
}

.draggable-livestream.svelte-en455l {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden
}

.player-view.svelte-en455l {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
