@keyframes slide-in-one-tap {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0px);
  }
}

.trust-hide-gracefully {
  opacity: 0;
}

.trust-wallet-one-tap {
  .hidden {
    display: none;
  }

  .semibold {
    font-weight: 500;
  }

  .binance-plex {
    font-family: 'Binance';
  }

  .rounded-full {
    border-radius: 50%;
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .w-full {
    width: 100%;
  }

  .box {
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.43);
    animation: slide-in-one-tap 0.5s cubic-bezier(0, 0, 0, 1.43);
    width: 384px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1020;
  }

  .header {
    gap: 15px;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 18px;

    .left-items {
      gap: 15px;
    }

    .title {
      color: #1e2329;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }

    .subtitle {
      color: #474d57;
      font-size: 14px;
      line-height: 20px;
    }

    .close {
      color: #1e2329;
      cursor: pointer;
    }
  }

  .body {
    padding: 9px 18px;
    gap: 10px;

    .right-items {
      gap: 10px;
      width: 100%;

      .wallet-title {
        color: #1e2329;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .wallet-subtitle {
        color: #474d57;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .connect-indicator {
    gap: 15px;
    padding: 8px 0;

    .flow-icon {
      color: #474d57;
    }
  }

  .loading-color {
    color: #fff;
  }

  .button {
    border-radius: 50px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: rgb(5, 0, 255);
    border-color: rgb(229, 231, 235);
    cursor: pointer;
    text-align: center;
    height: 45px;

    .button-text {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  .footer {
    margin: 20px 30px;
  }

  .check-icon {
    color: #fff;
  }
}

@font-face {
  font-family: 'Binance';
  src: url('./fonts/binancePlex/BinancePlex-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Binance';
  src: url('./fonts/binancePlex/BinancePlex-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Binance';
  src: url('./fonts/binancePlex/BinancePlex-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
